.home{
 text-align: center;
 display: flex;
 justify-content: center;
}

.image__container{
  align-self: center;
}

.image__title {
  color: white;
  align-self: center;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 26px;
}

@media (max-width: 799.98px) {

  .home {
    flex-direction: column;
  }

  .image__container {
    width: 100%;
  }
}